<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>lab13</title>
    
</head>
<body>
    <header>
        <h3 class="h1-header">Backend3</h3>
        <a class="button-header" href="">Home</a>
        <a class="button-header" href ="/Mockups">Mockups</a>
    </header>
    <div class="content">
        <h1 class = "content-header">Here is the main page!</h1>
        
    </div>
    <div class="line"></div>
    <footer>© 2023 - Backend3</footer>
</body>
</html>