<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link type="text/css" href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../static/styles.css">
    <script src="../../static/script.js"></script>
    <title>lab13</title>
    
</head>
<body>
    <header>
        <h3 class="h1-header">Backend3</h3>
        <a class="button-header" href="/">Home</a>
        <a class="button-header" href="/Mockups">Mockups</a>
    </header>
    <div class="content">
        <div class="main-header">Mockups</div>
        <ul>
            <li><a href="/Mockups/Quiz?type=quiz">Quiz</a></li>
            <li><a href="/Mockups/Quiz?type=results">QuizResult</a></li>
        </ul>
    </div>
    <div class="line"></div>
    
    <footer>© 2023 - Backend3</footer>
</body>
</html>